@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Source+Serif+Pro:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #171a26;
  font-family: "Roboto", sans-serif;
}

/*Header Section*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  max-height: 100px;
  min-height: 100px;
  padding: 0% 10px;
  color: azure;
  font-size: 18px;
  text-transform: uppercase;
  font-family: sans-serif;
  position: relative;
  z-index: 2;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  font-weight: 700;
}

.menu ul li:hover {
  color: grey;
  background-color: azure;
}

.menu ul li {
  /* text-decoration: none; */
  list-style: none;
  /* font-size: 22px; */
  /* color: azure; */
  padding: 20px;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.location span {
  display: flex;
  gap: 5px;
}

.getApp {
  text-decoration: none;
  color: azure;
  border: 3px solid azure;
  padding: 10px;
  border-radius: 10px;
}

.getApp:hover {
  background-color: rgba(240, 255, 255, 0.412);
}

/*Slider Section*/

.swiper {
  height: 100vh;
  width: 100%;
  margin-top: -100px;
}

.swiper-slide {
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide img {
  width: 100%;
}

/* .location a:visited,.getApp{
    color: azure;
} */

.swiper-slide p {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 80px;
  color: azure;
  transform: translate(-50%, -50%);
  font-weight: 900;
}

.btn {
  /* margin: auto; */
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: azure;
  cursor: pointer;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.867);
}

.btn:hover {
  /* color: coral; */
  background-color: aliceblue;
  /* width: 50px; */
  padding: 16px 21px;
}

/*Pricing section*/

.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.packages {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  box-shadow: 1px 2px 20px 3px grey;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 15px; */
  color: rgb(78, 76, 76);
  background-color: #b6b8b9f6;
  width: 25vw;
  height: 400px;
}

.packages ul li {
  list-style: none;
  text-align: center;
  font-size: 25px;
  text-decoration: underline;
  margin: 15px 0px;
}

.packages h1 {
  font-size: 35px;
}

.packages p {
  font-size: 40px;
  font-weight: 150;
}

.packages button {
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.packages button:hover {
  background-color: rgb(8, 98, 98);
  color: white;
  transition: 0.5s ease-in-out;
}

.packages:hover {
  background-color: rgb(137, 170, 170);
}
